.register {
    margin: auto;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    padding: 15px;
    box-shadow: 2px 5px 10px rgba(22, 22, 22, 0.857);
    width: 650px;
}
  
.user-register-container {
    display: flex;
    flex-direction: column;
}

.user-register-dropdowns, .user-pw-container {
    margin-top: 15px;
}
  
.reg-label {
    margin-top: 5px;
    margin-bottom: 15px;
}
  
.prompt-container {
    margin-top: 15px;
}
  
.reg-btn {
    margin-top: 15px;
}

#drop-one, #pw-one {
    margin-right: 15px;
}

@media only screen and (max-width: 900px) {
    .register {
        width: 85%;
    }

}