.user {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 85%;
    min-height: 75vh;
}

#prof-main {
    padding-top: 15px;
    padding-bottom: 15px;
    height: fit-content;
    justify-content: center;
}

.user > div {
    width: 95%;
}

.main-pic-container {
    height: 200px;
    width: 200px;
    margin-right: 25px;
}

.main-pic {
    height: 100%;
    width: 100%;
}