/* Base Elements */

body {
  margin: 0;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(189, 189, 189);
  width: 100vw;
  height: 100vh;
}

header {
  height: 125px;
  background-color: black;
}

main {
  display: flex;
  justify-content: space-between;
  margin-inline: 100px;
  height: 100%;
}

footer {
  height: 75px;
  background-color: black;
}

/* Blog section */

.article {
  margin-right: 5%;
  width: 70%;
  background-color: antiquewhite;

}

.sidebar {
  width: 20%;
  background-color: antiquewhite;
}


@media only screen and (max-width: 900px) {
  main {
    margin-inline: 0;
  }
}