/* Base Elements */

body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(168, 204, 249);
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(189, 189, 189);
  width: 100vw;
  min-height: 100vh;
}

header {
  min-height: 10vh;
  background-color: black;
}

main {
  display: flex;
  justify-content: space-between;
  margin-inline: 100px;
  min-height: 80vh;
}

footer {
  min-height: 10vh;
  background-color: black;
}

/* Blog section */

.article {
  width: 75%;
  min-height: fit-content;
  background-color: rgb(74, 64, 161);
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 22%;
  min-height: fit-content;
  background-color: rgb(74, 64, 161);
}

.profile {
  height: 20%;
  margin-top: 10px;
  width: 95%;
  display: flex;
  border: 1px solid black;
  border-radius: 5px;
  align-items: center;
}

.archive {
  height: 75%;
  margin-top: 5px;
  width: 95%;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 5px;
}

.profile-info {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 5px;
  width: 60%;
  height: 95%;
}

.profile-name {
  margin-left: 15px;
}

.profile-desc {
  margin-left: 15px;
}

.profile-pic {
  border-radius: 50%;
  border: 2px solid black;
  width: 30%;
  height: 75%;
  margin-inline: 10px;
}

@media only screen and (max-width: 900px) {
  .App {
    justify-content: flex-start;
  }

  main {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-inline: 0;
  }

  .article {
    width: 95%;
  }

  .sidebar {
    margin-bottom: 15px;
    width: 95%;
  }

  .profile-pic {
    width: 75px;
    height: 75px;
  }

  .profile-info {
    width: 75%;
  }
}